$width: 960px; // default: 960px, can be: any unit (pixels, em, percent, etc.)
$respond-width: 50em; // default: 767px, can be: any unit except percent

$grid-float: left; // default: left, options: left | right
$text-direction: ltr; // default: ltr, options: ltr | rtl

@import "compass/reset"; // optional