body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px;
}

p {
	padding: 10px;
	border: 1px solid red;
}

.nested {
	background:#EEF;
}

.nested2 {
	background:#FEE;
}