@import "compass";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 28px;
    margin: 10px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	line-height: 36px;
	color: #333;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
	color: #666;
	
	small {
		font-size: 12px;
	}
}

div.gutter {
	padding: 10px;
	margin: 5px;
	@include border-radius(4px);
	@include single-box-shadow;
	background: #eee;
	@include background-image(linear-gradient(#eee, #aaa));

	&.nested {
		background: #efe;
		@include background-image(linear-gradient(#efe, #cfc));
	}

	&.nested2x {
		background: #fee;
		@include background-image(linear-gradient(#fee, #fcc));
	}
}