@import "base";
@import "compass/css3";

$push: push-;
$pull: pull-;

@if $grid-float == right {
	$push: pull-;
	$pull: push-;
}

@function columns($include-one-whole: true) {
	$tmp-cols: "";

	@if $include-one-whole == true {
		@if $columns > 0 { $tmp-cols: $tmp-cols + ".one-whole"; }
		@if $columns > 1 { $tmp-cols: $tmp-cols + ", "; }
	}

	@if $columns > 1 { $tmp-cols: $tmp-cols + ".one-half"; }
	@if $columns > 2 { $tmp-cols: $tmp-cols + ",.one-third, .two-thirds"; }
	@if $columns > 3 { $tmp-cols: $tmp-cols + ",.one-fourth, .two-fourths, .three-fourths"; }
	@if $columns > 4 { $tmp-cols: $tmp-cols + ",.one-fifth, .two-fifths, .three-fifths, .four-fifths"; }
	@if $columns > 5 { $tmp-cols: $tmp-cols + ",.one-sixth, .two-sixths, .three-sixths, .four-sixths, .five-sixths"; }
	@if $columns > 6 { $tmp-cols: $tmp-cols + ",.one-seventh, .two-sevenths, .three-sevenths, .four-sevenths, .five-sevenths, .six-sevenths"; }
	@if $columns > 7 { $tmp-cols: $tmp-cols + ",.one-eighth, .two-eighths, .three-eighths, .four-eighths, .five-eighths, .six-eighths, .seven-eighths"; }
	@if $columns > 8 { $tmp-cols: $tmp-cols + ",.one-ninth, .two-ninths, .three-ninths, .four-ninths, .five-ninths, .six-ninths, .seven-ninths, .eight-ninths"; }
	@if $columns > 9 { $tmp-cols: $tmp-cols + ",.one-tenth, .two-tenths, .three-tenths, .four-tenths, .five-tenths, .six-tenths, .seven-tenths, .eight-tenths, .nine-tenths"; }
	@if $columns > 10 { $tmp-cols: $tmp-cols + ",.one-eleventh, .two-elevenths, .three-elevenths, .four-elevenths, .five-elevenths, .six-elevenths, .seven-elevenths, .eight-elevenths, .nine-elevenths, .ten-elevenths"; }
	@if $columns > 11 { $tmp-cols: $tmp-cols + ",.one-twelth, .two-twelths, .three-twelths, .four-twelths, .five-twelths, .six-twelths, .seven-twelths, .eight-twelths, .nine-twelths, .ten-twelths, .eleven-twelths"; }

	@return $tmp-cols;
}

@mixin respond() {
	&.respond {
		@if $enable-respond == true {
			@for $i from 1 through length($respond-width) {
				@media screen and (max-width: nth($respond-width, $i)) {
					#{columns(false)} {
						left: 0;
						right: 0;
						width: nth($respond-percent, $i);
					}
				}
			}
		}
	}
}

@mixin respond-columns() {
	@if $enable-respond-columns == true {
		@for $i from 1 through length($respond-width) {
			@media screen and (max-width: nth($respond-width, $i)) {

				@if $respond-columns > 0 {
					.#{nth($respond-name, $i)}-one-whole { width: 100%; left: 0; right: 0; }
				}

				@if $respond-columns > 1 {
					.#{nth($respond-name, $i)}-one-half { width: 50%; left: 0; right: 0; }
				}

				@if $respond-columns > 2 {
					.#{nth($respond-name, $i)}-one-third { width: 33.33333%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-thirds { width: 66.66667%; left: 0; right: 0; }
				}

				@if $respond-columns > 3 {
					.#{nth($respond-name, $i)}-one-fourth { width: 25%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-fourths { @extend .#{nth($respond-name, $i)}-one-half; }
					.#{nth($respond-name, $i)}-three-fourths { width: 75%; left: 0; right: 0; }
				}

				@if $respond-columns > 4 {
					.#{nth($respond-name, $i)}-one-fifth { width: 20%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-fifths { width: 40%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-three-fifths { width: 60%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-four-fifths { width: 80%; left: 0; right: 0; }
				}

				@if $respond-columns > 5 {
					.#{nth($respond-name, $i)}-one-sixth { width: 16.66667%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-sixths { @extend .#{nth($respond-name, $i)}-one-third; }
					.#{nth($respond-name, $i)}-three-sixths { @extend .#{nth($respond-name, $i)}-one-half; }
					.#{nth($respond-name, $i)}-four-sixths { @extend .#{nth($respond-name, $i)}-two-thirds; }
					.#{nth($respond-name, $i)}-five-sixths { width: 83.33333%; left: 0; right: 0; }
				}

				@if $respond-columns > 6 {
					.#{nth($respond-name, $i)}-one-seventh { width: 14.28571%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-sevenths { width: 28.57142%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-three-sevenths { width: 42.85714%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-four-sevenths { width: 57.14286%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-five-sevenths { width: 71.42858%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-six-sevenths { width: 85.71429%; left: 0; right: 0; }
				}

				@if $respond-columns > 7 {
					.#{nth($respond-name, $i)}-one-eighth { width: 12.5%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-eighths { @extend .#{nth($respond-name, $i)}-one-fourth; }
					.#{nth($respond-name, $i)}-three-eighths { width: 37.5%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-four-eighths { @extend .#{nth($respond-name, $i)}-one-half; }
					.#{nth($respond-name, $i)}-five-eighths { width: 62.5%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-six-eights { @extend .#{nth($respond-name, $i)}-three-fourths; }
					.#{nth($respond-name, $i)}-seven-eighths { width: 87.5%; left: 0; right: 0; }
				}

				@if $respond-columns > 8 {
					.#{nth($respond-name, $i)}-one-ninth { width: 11.11111%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-ninths { width: 22.22222%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-three-ninths { width: 33.33333%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-four-ninths { width: 44.44444%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-five-ninths { width: 55.55556%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-six-ninths { width: 66.66667%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-seven-ninths { width: 77.77778%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-eight-ninths { width: 88.88889%; left: 0; right: 0; }
				}

				@if $respond-columns > 9 {
					.#{nth($respond-name, $i)}-one-tenth { width: 10%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-tenths { @extend .#{nth($respond-name, $i)}-one-fifth; }
					.#{nth($respond-name, $i)}-three-tenths { width: 30%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-four-tenths { @extend .#{nth($respond-name, $i)}-two-fifths; }
					.#{nth($respond-name, $i)}-five-tenths { @extend .#{nth($respond-name, $i)}-one-half; }
					.#{nth($respond-name, $i)}-six-tenths { @extend .#{nth($respond-name, $i)}-three-fifths; }
					.#{nth($respond-name, $i)}-seven-tenths { width: 70%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-eight-tenths { @extend .#{nth($respond-name, $i)}-four-fifths; }
					.#{nth($respond-name, $i)}-nine-tenths { width: 90%; left: 0; right: 0; }
				}

				@if $respond-columns > 10 {
					.#{nth($respond-name, $i)}-one-eleventh { width: 9.09091%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-elevenths { width: 18.18182%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-three-elevenths { width: 27.27273%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-four-elevenths { width: 36.36364%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-five-elevenths { width: 45.45455%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-six-elevenths { width: 54.54545%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-seven-elevenths { width: 63.63636%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-eight-elevenths { width: 72.72727%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-nine-elevenths { width: 81.81818%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-ten-elevenths { width: 90.90909%; left: 0; right: 0; }
				}

				@if $respond-columns > 11 {
					.#{nth($respond-name, $i)}-one-twelth { width: 8.33333%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-two-twelths { @extend .#{nth($respond-name, $i)}-one-sixth; }
					.#{nth($respond-name, $i)}-three-twelths { @extend .#{nth($respond-name, $i)}-one-fourth; }
					.#{nth($respond-name, $i)}-four-twelths { @extend .#{nth($respond-name, $i)}-one-third; }
					.#{nth($respond-name, $i)}-five-twelths { width: 41.66667%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-six-twelths { @extend .#{nth($respond-name, $i)}-one-half; }
					.#{nth($respond-name, $i)}-seven-twelths { width: 58.33334%; left: 0; right: 0; }
					.#{nth($respond-name, $i)}-eight-twelths { @extend .#{nth($respond-name, $i)}-two-thirds; }
					.#{nth($respond-name, $i)}-nine-twelths { @extend .#{nth($respond-name, $i)}-three-fourths; }
					.#{nth($respond-name, $i)}-ten-twelths { @extend .#{nth($respond-name, $i)}-five-sixths; }
					.#{nth($respond-name, $i)}-eleven-twelths { width: 91.66667%; left: 0; right: 0; }
				}
			}
		}
	}
}

%column {
	float: $grid-float;
	direction: $text-direction;
	display: inline-block;
}

%clearfix {
	*zoom:1;
	clear: both;

	&:before, &:after {
		content: "";
		display: table;
		height: 0;
	}

	&:after {
		clear: both;
	}
}

* {
	@include box-sizing(border-box);
}

#{$grid-class} {
	@extend %clearfix;

	max-width: $width;
	_width: $width;
	margin-left: auto;
	margin-right: auto;

	@include respond();

	@if $enable-pad == true {
		&.pad {
			padding: $grid-pad;
		}

		&.pad-h {
			padding-left: $grid-pad;
			padding-right: $grid-pad;
		}

		&.pad-v {
			padding-top: $grid-pad;
			padding-bottom: $grid-pad;
		}
	}

	@if $enable-gutter == true {
		&.gutter {
			#{$row-class} {
				margin-left: -$gutter;
				margin-top: -$gutter;
			}

			#{columns()} {
				padding-left: $gutter;
				padding-top: $gutter;
			}
		}

		&.gutter-v {
			#{$row-class} {
				margin-top: -$gutter;
			}

			#{columns()} {
				padding-top: $gutter;
			}
		}

		&.gutter-h {
			#{$row-class} {
				margin-left: -$gutter;
			}

			#{columns()} {
				padding-left: $gutter;
			}
		}
	}

	#{$row-class} {
		@extend %clearfix;
		@include respond();
	}

	#{columns()} {
		@extend %column;
	}

	@if $columns > 0 {
		.one-whole { width: 100%; }
	}

	@if $columns > 1 {
		.one-half { width: 50%; }
	}

	@if $columns > 2 {
		.one-third { width: 33.33333%; }
		.two-thirds { width: 66.66667%; }
	}

	@if $columns > 3 {
		.one-fourth { width: 25%; }
		.two-fourths { @extend .one-half; }
		.three-fourths { width: 75%; }
	}

	@if $columns > 4 {
		.one-fifth { width: 20%; }
		.two-fifths { width: 40%; }
		.three-fifths { width: 60%; }
		.four-fifths { width: 80%; }
	}

	@if $columns > 5 {
		.one-sixth { width: 16.66667%; }
		.two-sixths { @extend .one-third; }
		.three-sixths { @extend .one-half; }
		.four-sixths { @extend .two-thirds; }
		.five-sixths { width: 83.33333%; }
	}

	@if $columns > 6 {
		.one-seventh { width: 14.28571%; }
		.two-sevenths { width: 28.57142%; }
		.three-sevenths { width: 42.85714%; }
		.four-sevenths { width: 57.14286%; }
		.five-sevenths { width: 71.42858%; }
		.six-sevenths { width: 85.71429%; }
	}

	@if $columns > 7 {
		.one-eighth { width: 12.5%; }
		.two-eighths { @extend .one-fourth; }
		.three-eighths { width: 37.5%; }
		.four-eighths { @extend .one-half; }
		.five-eighths { width: 62.5%; }
		.six-eights { @extend .three-fourths; }
		.seven-eighths { width: 87.5%; }
	}

	@if $columns > 8 {
		.one-ninth { width: 11.11111%; }
		.two-ninths { width: 22.22222%; }
		.three-ninths { width: 33.33333%; }
		.four-ninths { width: 44.44444%; }
		.five-ninths { width: 55.55556%; }
		.six-ninths { width: 66.66667%; }
		.seven-ninths { width: 77.77778%; }
		.eight-ninths { width: 88.88889%; }
	}

	@if $columns > 9 {
		.one-tenth { width: 10%; }
		.two-tenths { @extend .one-fifth; }
		.three-tenths { width: 30%; }
		.four-tenths { @extend .two-fifths; }
		.five-tenths { @extend .one-half; }
		.six-tenths { @extend .three-fifths; }
		.seven-tenths { width: 70%; }
		.eight-tenths { @extend .four-fifths; }
		.nine-tenths { width: 90%; }
	}

	@if $columns > 10 {
		.one-eleventh { width: 9.09091%; }
		.two-elevenths { width: 18.18182%; }
		.three-elevenths { width: 27.27273%; }
		.four-elevenths { width: 36.36364%; }
		.five-elevenths { width: 45.45455%; }
		.six-elevenths { width: 54.54545%; }
		.seven-elevenths { width: 63.63636%; }
		.eight-elevenths { width: 72.72727%; }
		.nine-elevenths { width: 81.81818%; }
		.ten-elevenths { width: 90.90909%; }
	}

	@if $columns > 11 {
		.one-twelth { width: 8.33333%; }
		.two-twelths { @extend .one-sixth; }
		.three-twelths { @extend .one-fourth; }
		.four-twelths { @extend .one-third; }
		.five-twelths { width: 41.66667%; }
		.six-twelths { @extend .one-half; }
		.seven-twelths { width: 58.33334%; }
		.eight-twelths { @extend .two-thirds; }
		.nine-twelths { @extend .three-fourths; }
		.ten-twelths { @extend .five-sixths; }
		.eleven-twelths { width: 91.66667%; }
	}

	@if $enable-push-pull == true {
		@each $d in (left right) {
			$mod: $push;

			@if $d == right {
				$mod: $pull;
			}

			@if $push-pull-columns > 0 {
				.#{$mod}one-whole { position: relative; #{$d}: 100%; }
			}

			@if $push-pull-columns > 1 {
				.#{$mod}one-half { position: relative; #{$d}: 50%; }
			}

			@if $push-pull-columns > 2 {
				.#{$mod}one-third { position: relative; #{$d}: 33.33333%; }
				.#{$mod}two-thirds { position: relative; #{$d}: 66.66667%; }
			}

			@if $push-pull-columns > 3 {
				.#{$mod}one-fourth { position: relative; #{$d}: 25%; }
				.#{$mod}two-fourths { @extend .#{$mod}one-half; }
				.#{$mod}three-fourths { position: relative; #{$d}: 75%; }
			}

			@if $push-pull-columns > 4 {
				.#{$mod}one-fifth { position: relative; #{$d}: 20%; }
				.#{$mod}two-fifths { position: relative; #{$d}: 40%; }
				.#{$mod}three-fifths { position: relative; #{$d}: 60%; }
				.#{$mod}four-fifths { position: relative; #{$d}: 80%; }
			}

			@if $push-pull-columns > 5 {
				.#{$mod}one-sixth { position: relative; #{$d}: 16.66667%; }
				.#{$mod}two-sixths { @extend .#{$mod}one-third; }
				.#{$mod}three-sixths { @extend .#{$mod}one-half; }
				.#{$mod}four-sixths { @extend .#{$mod}two-thirds; }
				.#{$mod}five-sixths { position: relative; #{$d}: 83.33333%; }
			}

			@if $push-pull-columns > 6 {
				.#{$mod}one-seventh { position: relative; #{$d}: 14.28571%; }
				.#{$mod}two-sevenths { position: relative; #{$d}: 28.57142%; }
				.#{$mod}three-sevenths { position: relative; #{$d}: 42.85714%; }
				.#{$mod}four-sevenths { position: relative; #{$d}: 57.14286%; }
				.#{$mod}five-sevenths { position: relative; #{$d}: 71.42858%; }
				.#{$mod}six-sevenths { position: relative; #{$d}: 85.71429%; }
			}

			@if $push-pull-columns > 7 {
				.#{$mod}one-eighth { position: relative; #{$d}: 12.5%; }
				.#{$mod}two-eighths { @extend .#{$mod}one-fourth; }
				.#{$mod}three-eighths { position: relative; #{$d}: 37.5%; }
				.#{$mod}four-eighths { @extend .#{$mod}one-half; }
				.#{$mod}five-eighths { position: relative; #{$d}: 62.5%; }
				.#{$mod}six-eights { @extend .#{$mod}three-fourths; }
				.#{$mod}seven-eighths { position: relative; #{$d}: 87.5%; }
			}

			@if $push-pull-columns > 8 {
				.#{$mod}one-ninth { position: relative; #{$d}: 11.11111%; }
				.#{$mod}two-ninths { position: relative; #{$d}: 22.22222%; }
				.#{$mod}three-ninths { position: relative; #{$d}: 33.33333%; }
				.#{$mod}four-ninths { position: relative; #{$d}: 44.44444%; }
				.#{$mod}five-ninths { position: relative; #{$d}: 55.55556%; }
				.#{$mod}six-ninths { position: relative; #{$d}: 66.66667%; }
				.#{$mod}seven-ninths { position: relative; #{$d}: 77.77778%; }
				.#{$mod}eight-ninths { position: relative; #{$d}: 88.88889%; }
			}

			@if $push-pull-columns > 9 {
				.#{$mod}one-tenth { position: relative; #{$d}: 10%; }
				.#{$mod}two-tenths { @extend .#{$mod}one-fifth; }
				.#{$mod}three-tenths { position: relative; #{$d}: 30%; }
				.#{$mod}four-tenths { @extend .#{$mod}two-fifths; }
				.#{$mod}five-tenths { @extend .#{$mod}one-half; }
				.#{$mod}six-tenths { @extend .#{$mod}three-fifths; }
				.#{$mod}seven-tenths { position: relative; #{$d}: 70%; }
				.#{$mod}eight-tenths { @extend .#{$mod}four-fifths; }
				.#{$mod}nine-tenths { position: relative; #{$d}: 90%; }
			}

			@if $push-pull-columns > 10 {
				.#{$mod}one-eleventh { position: relative; #{$d}: 9.09091%; }
				.#{$mod}two-elevenths { position: relative; #{$d}: 18.18182%; }
				.#{$mod}three-elevenths { position: relative; #{$d}: 27.27273%; }
				.#{$mod}four-elevenths { position: relative; #{$d}: 36.36364%; }
				.#{$mod}five-elevenths { position: relative; #{$d}: 45.45455%; }
				.#{$mod}six-elevenths { position: relative; #{$d}: 54.54545%; }
				.#{$mod}seven-elevenths { position: relative; #{$d}: 63.63636%; }
				.#{$mod}eight-elevenths { position: relative; #{$d}: 72.72727%; }
				.#{$mod}nine-elevenths { position: relative; #{$d}: 81.81818%; }
				.#{$mod}ten-elevenths { position: relative; #{$d}: 90.90909%; }
			}

			@if $push-pull-columns > 11 {
				.#{$mod}one-twelth { position: relative; #{$d}: 8.33333%; }
				.#{$mod}two-twelths { @extend .#{$mod}one-sixth; }
				.#{$mod}three-twelths { @extend .#{$mod}one-fourth; }
				.#{$mod}four-twelths { @extend .#{$mod}one-third; }
				.#{$mod}five-twelths { position: relative; #{$d}: 41.66667%; }
				.#{$mod}six-twelths { @extend .#{$mod}one-half; }
				.#{$mod}seven-twelths { position: relative; #{$d}: 58.33334%; }
				.#{$mod}eight-twelths { @extend .#{$mod}two-thirds; }
				.#{$mod}nine-twelths { @extend .#{$mod}three-fourths; }
				.#{$mod}ten-twelths { @extend .#{$mod}five-sixths; }
				.#{$mod}eleven-twelths { position: relative; #{$d}: 91.66667%; }
			}
		}
	}

	@include respond-columns();

	@if $enable-respond == true {
		&.respond, #{$row-class}.respond {
			@include respond-columns();
		}
	}

}