@import "base";
@import "compass/reset";
@import "compass/css3";

$push: push-;
$pull: pull-;

@if $grid-float == right {
	$push: pull-;
	$pull: push-;
}

@function columns($include-one-whole: true) {
	$tmp-cols: "";

	@if $include-one-whole == true {
		$tmp-cols: $tmp-cols + ".one-whole, ";
	}

	$tmp-cols: $tmp-cols + ".one-half,
		.one-third, .two-thirds,
		.one-fourth, .two-fourths, .three-fourths,
		.one-fifth, .two-fifths, .three-fifths, .four-fifths,
		.one-sixth, .two-sixths, .three-sixths, .four-sixths, .five-sixths";

	@return $tmp-cols;
}

@mixin respond() {
	&.respond {
		@for $i from 1 through length($respond-width) {
			@media screen and (max-width: nth($respond-width, $i)) {
				#{columns(false)} {
					left: 0;
					right: 0;
					width: nth($respond-percent, $i);
				}
			}
		}
	}
}

%column {
	float: $grid-float;
	direction: $text-direction;
	display: inline;
}

%clearfix {
	*zoom:1;

	&:before, &:after {
		content: "";
		display: table;
		height: 0;
	}

	&:after {
		clear: both;
	}
}

* {
	@include box-sizing(border-box);
}

.grid, .g {
	@extend %clearfix;

	max-width: $width;
	_width: $width;
	margin-left: auto;
	margin-right: auto;

	@include respond();

	&.pad {
		padding: $grid-pad;
	}

	&.pad-horizontal, &.pad-h {
		padding-left: $grid-pad;
		padding-right: $grid-pad;
	}

	&.pad-vertical, &.pad-v {
		padding-top: $grid-pad;
		padding-bottom: $grid-pad;
	}

	&.gutter {
		.row, .r {
			margin-left: -$gutter;
			margin-top: -$gutter;
		}

		#{columns()} {
			padding-left: $gutter;
			padding-top: $gutter;
		}
	}

	&.gutter-vertical, &.gutter-v {
		.row, .r {
			margin-top: -$gutter;
		}

		#{columns()} {
			padding-top: $gutter;
		}
	}

	&.gutter-horizontal, &.gutter-h {
		.row, .r {
			margin-left: -$gutter;
		}

		#{columns()} {
			padding-left: $gutter;
		}
	}

	.row, .r {
		@include respond();
	}

	#{columns()} {
		@extend %column;
	}

	.one-whole { width: 100%; }
	.one-half, .two-fourths, .three-sixths { width: 50%; }
	.one-third, .two-sixths { width: 33.33333%; }
	.two-thirds, .four-sixths { width: 66.66667%; }
	.one-fourth { width: 25%; }
	.three-fourths { width: 75%; }
	.one-fifth { width: 20%; }
	.two-fifths { width: 40%; }
	.three-fifths { width: 60%; }
	.four-fifths { width: 80%; }
	.one-sixth { width: 16.66667%; }
	.five-sixths { width: 83.33333%; }

	@each $d in (left right) {
		$mod: $push;

		@if $d == right {
			$mod: $pull;
		}

		.#{$mod}one-whole { position: relative; #{$d}: 100%; }
		.#{$mod}one-half, .push-two-fourths, .push-three-sixths { position: relative; #{$d}: 50%; }
		.#{$mod}one-third, .push-two-sixths { position: relative; #{$d}: 33.33333%; }
		.#{$mod}two-thirds, .push-four-sixths { position: relative; #{$d}: 66.66667%; }
		.#{$mod}one-fourth { position: relative; #{$d}: 25%; }
		.#{$mod}three-fourths { position: relative; #{$d}: 75%; }
		.#{$mod}one-fifth { position: relative; #{$d}: 20%; }
		.#{$mod}two-fifths { position: relative; #{$d}: 40%; }
		.#{$mod}three-fifths { position: relative; #{$d}: 60%; }
		.#{$mod}four-fifths { position: relative; #{$d}: 80%; }
		.#{$mod}one-sixth { position: relative; #{$d}: 16.66667%; }
		.#{$mod}five-sixths { position: relative; #{$d}: 83.33333%; }
	}
}