/* line 1, ../sass/demo.scss */
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
}

/* line 7, ../sass/demo.scss */
div.gutter {
  border: 1px solid red;
  padding: 10px;
}

/* line 12, ../sass/demo.scss */
.nested {
  background: #EEF;
}

/* line 16, ../sass/demo.scss */
.nested2 {
  background: #FEE;
}
