/* line 5, ../sass/demo.scss */
body {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  margin: 10px;
}

/* line 12, ../sass/demo.scss */
h1 {
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
  color: #333;
}

/* line 19, ../sass/demo.scss */
h2 {
  font-size: 16px;
  font-weight: bold;
  line-height: 32px;
  color: #666;
}
/* line 25, ../sass/demo.scss */
h2 small {
  font-size: 12px;
}

/* line 30, ../sass/demo.scss */
div.gutter {
  padding: 10px;
  margin: 5px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
  background: #eee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#eeeeee, #aaaaaa);
  background-image: -moz-linear-gradient(#eeeeee, #aaaaaa);
  background-image: -o-linear-gradient(#eeeeee, #aaaaaa);
  background-image: linear-gradient(#eeeeee, #aaaaaa);
}
/* line 38, ../sass/demo.scss */
div.gutter.nested {
  background: #efe;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeffee), color-stop(100%, #ccffcc));
  background-image: -webkit-linear-gradient(#eeffee, #ccffcc);
  background-image: -moz-linear-gradient(#eeffee, #ccffcc);
  background-image: -o-linear-gradient(#eeffee, #ccffcc);
  background-image: linear-gradient(#eeffee, #ccffcc);
}
/* line 43, ../sass/demo.scss */
div.gutter.nested2x {
  background: #fee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffeeee), color-stop(100%, #ffcccc));
  background-image: -webkit-linear-gradient(#ffeeee, #ffcccc);
  background-image: -moz-linear-gradient(#ffeeee, #ffcccc);
  background-image: -o-linear-gradient(#ffeeee, #ffcccc);
  background-image: linear-gradient(#ffeeee, #ffcccc);
}
