/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/shimmy-grid.scss */
.grid, .g {
  *zoom: 1;
  max-width: 960px;
  _width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 16, ../sass/shimmy-grid.scss */
.grid .one-whole, .grid .one-half, .grid .one-third, .grid .two-thirds, .grid .one-fourth, .grid .two-fourths, .grid .three-fourths, .grid .one-fifth, .grid .two-fifths, .grid .three-fifths, .grid .four-fifths, .grid .one-sixth, .grid .two-sixths, .grid .three-sixths, .grid .four-sixths, .grid .five-sixths, .g .one-whole, .g .one-half, .g .one-third, .g .two-thirds, .g .one-fourth, .g .two-fourths, .g .three-fourths, .g .one-fifth, .g .two-fifths, .g .three-fifths, .g .four-fifths, .g .one-sixth, .g .two-sixths, .g .three-sixths, .g .four-sixths, .g .five-sixths {
  float: left;
  direction: ltr;
  display: inline;
}

@media screen and (max-width: 768px) {
  /* line 25, ../sass/shimmy-grid.scss */
  .grid.react .one-whole, .grid.react .one-half, .grid.react .one-third, .grid.react .two-thirds, .grid.react .one-fourth, .grid.react .two-fourths, .grid.react .three-fourths, .grid.react .one-fifth, .grid.react .two-fifths, .grid.react .three-fifths, .grid.react .four-fifths, .grid.react .one-sixth, .grid.react .two-sixths, .grid.react .three-sixths, .grid.react .four-sixths, .grid.react .five-sixths, .g.react .one-whole, .g.react .one-half, .g.react .one-third, .g.react .two-thirds, .g.react .one-fourth, .g.react .two-fourths, .g.react .three-fourths, .g.react .one-fifth, .g.react .two-fifths, .g.react .three-fifths, .g.react .four-fifths, .g.react .one-sixth, .g.react .two-sixths, .g.react .three-sixths, .g.react .four-sixths, .g.react .five-sixths {
    width: 100%;
  }
}
/* line 35, ../sass/shimmy-grid.scss */
.grid .row, .grid .r, .g .row, .g .r {
  clear: both;
}
@media screen and (max-width: 768px) {
  /* line 25, ../sass/shimmy-grid.scss */
  .grid .row.react .one-whole, .grid .row.react .one-half, .grid .row.react .one-third, .grid .row.react .two-thirds, .grid .row.react .one-fourth, .grid .row.react .two-fourths, .grid .row.react .three-fourths, .grid .row.react .one-fifth, .grid .row.react .two-fifths, .grid .row.react .three-fifths, .grid .row.react .four-fifths, .grid .row.react .one-sixth, .grid .row.react .two-sixths, .grid .row.react .three-sixths, .grid .row.react .four-sixths, .grid .row.react .five-sixths, .grid .r.react .one-whole, .grid .r.react .one-half, .grid .r.react .one-third, .grid .r.react .two-thirds, .grid .r.react .one-fourth, .grid .r.react .two-fourths, .grid .r.react .three-fourths, .grid .r.react .one-fifth, .grid .r.react .two-fifths, .grid .r.react .three-fifths, .grid .r.react .four-fifths, .grid .r.react .one-sixth, .grid .r.react .two-sixths, .grid .r.react .three-sixths, .grid .r.react .four-sixths, .grid .r.react .five-sixths, .g .row.react .one-whole, .g .row.react .one-half, .g .row.react .one-third, .g .row.react .two-thirds, .g .row.react .one-fourth, .g .row.react .two-fourths, .g .row.react .three-fourths, .g .row.react .one-fifth, .g .row.react .two-fifths, .g .row.react .three-fifths, .g .row.react .four-fifths, .g .row.react .one-sixth, .g .row.react .two-sixths, .g .row.react .three-sixths, .g .row.react .four-sixths, .g .row.react .five-sixths, .g .r.react .one-whole, .g .r.react .one-half, .g .r.react .one-third, .g .r.react .two-thirds, .g .r.react .one-fourth, .g .r.react .two-fourths, .g .r.react .three-fourths, .g .r.react .one-fifth, .g .r.react .two-fifths, .g .r.react .three-fifths, .g .r.react .four-fifths, .g .r.react .one-sixth, .g .r.react .two-sixths, .g .r.react .three-sixths, .g .r.react .four-sixths, .g .r.react .five-sixths {
    width: 100%;
  }
}
/* line 42, ../sass/shimmy-grid.scss */
.grid .one-whole, .g .one-whole {
  width: 100%;
}
/* line 43, ../sass/shimmy-grid.scss */
.grid .one-half, .grid .two-fourths, .grid .three-sixths, .g .one-half, .g .two-fourths, .g .three-sixths {
  width: 50%;
}
/* line 44, ../sass/shimmy-grid.scss */
.grid .one-third, .grid .two-sixths, .g .one-third, .g .two-sixths {
  width: 33.33333%;
}
/* line 45, ../sass/shimmy-grid.scss */
.grid .two-thirds, .grid .four-sixths, .g .two-thirds, .g .four-sixths {
  width: 66.66667%;
}
/* line 46, ../sass/shimmy-grid.scss */
.grid .one-fourth, .g .one-fourth {
  width: 25%;
}
/* line 47, ../sass/shimmy-grid.scss */
.grid .three-fourths, .g .three-fourths {
  width: 75%;
}
/* line 48, ../sass/shimmy-grid.scss */
.grid .one-fifth, .g .one-fifth {
  width: 20%;
}
/* line 49, ../sass/shimmy-grid.scss */
.grid .two-fifths, .g .two-fifths {
  width: 40%;
}
/* line 50, ../sass/shimmy-grid.scss */
.grid .three-fifths, .g .three-fifths {
  width: 60%;
}
/* line 51, ../sass/shimmy-grid.scss */
.grid .four-fifths, .g .four-fifths {
  width: 80%;
}
/* line 52, ../sass/shimmy-grid.scss */
.grid .one-sixth, .g .one-sixth {
  width: 16.66667%;
}
/* line 53, ../sass/shimmy-grid.scss */
.grid .five-sixths, .g .five-sixths {
  width: 83.33333%;
}
/* line 55, ../sass/shimmy-grid.scss */
.grid .push-one-whole, .g .push-one-whole {
  position: relative;
  left: 100%;
}
/* line 56, ../sass/shimmy-grid.scss */
.grid .push-one-half, .grid .push-two-fourths, .grid .push-three-sixths, .g .push-one-half, .g .push-two-fourths, .g .push-three-sixths {
  position: relative;
  left: 50%;
}
/* line 57, ../sass/shimmy-grid.scss */
.grid .push-one-third, .grid .push-two-sixths, .g .push-one-third, .g .push-two-sixths {
  position: relative;
  left: 33.33333%;
}
/* line 58, ../sass/shimmy-grid.scss */
.grid .push-two-thirds, .grid .push-four-sixths, .g .push-two-thirds, .g .push-four-sixths {
  position: relative;
  left: 66.66667%;
}
/* line 59, ../sass/shimmy-grid.scss */
.grid .push-one-fourth, .g .push-one-fourth {
  position: relative;
  left: 25%;
}
/* line 60, ../sass/shimmy-grid.scss */
.grid .push-three-fourths, .g .push-three-fourths {
  position: relative;
  left: 75%;
}
/* line 61, ../sass/shimmy-grid.scss */
.grid .push-one-fifth, .g .push-one-fifth {
  position: relative;
  left: 20%;
}
/* line 62, ../sass/shimmy-grid.scss */
.grid .push-two-fifths, .g .push-two-fifths {
  position: relative;
  left: 40%;
}
/* line 63, ../sass/shimmy-grid.scss */
.grid .push-three-fifths, .g .push-three-fifths {
  position: relative;
  left: 60%;
}
/* line 64, ../sass/shimmy-grid.scss */
.grid .push-four-fifths, .g .push-four-fifths {
  position: relative;
  left: 80%;
}
/* line 65, ../sass/shimmy-grid.scss */
.grid .push-one-sixth, .g .push-one-sixth {
  position: relative;
  left: 16.66667%;
}
/* line 66, ../sass/shimmy-grid.scss */
.grid .push-five-sixths, .g .push-five-sixths {
  position: relative;
  left: 83.33333%;
}
/* line 68, ../sass/shimmy-grid.scss */
.grid .pull-one-whole, .g .pull-one-whole {
  position: relative;
  right: 100%;
}
/* line 69, ../sass/shimmy-grid.scss */
.grid .pull-one-half, .grid .pull-two-fourths, .grid .pull-three-sixths, .g .pull-one-half, .g .pull-two-fourths, .g .pull-three-sixths {
  position: relative;
  right: 50%;
}
/* line 70, ../sass/shimmy-grid.scss */
.grid .pull-one-third, .grid .pull-two-sixths, .g .pull-one-third, .g .pull-two-sixths {
  position: relative;
  right: 33.33333%;
}
/* line 71, ../sass/shimmy-grid.scss */
.grid .pull-two-thirds, .grid .pull-four-sixths, .g .pull-two-thirds, .g .pull-four-sixths {
  position: relative;
  right: 66.66667%;
}
/* line 72, ../sass/shimmy-grid.scss */
.grid .pull-one-fourth, .g .pull-one-fourth {
  position: relative;
  right: 25%;
}
/* line 73, ../sass/shimmy-grid.scss */
.grid .pull-three-fourths, .g .pull-three-fourths {
  position: relative;
  right: 75%;
}
/* line 74, ../sass/shimmy-grid.scss */
.grid .pull-one-fifth, .g .pull-one-fifth {
  position: relative;
  right: 20%;
}
/* line 75, ../sass/shimmy-grid.scss */
.grid .pull-two-fifths, .g .pull-two-fifths {
  position: relative;
  right: 40%;
}
/* line 76, ../sass/shimmy-grid.scss */
.grid .pull-three-fifths, .g .pull-three-fifths {
  position: relative;
  right: 60%;
}
/* line 77, ../sass/shimmy-grid.scss */
.grid .pull-four-fifths, .g .pull-four-fifths {
  position: relative;
  right: 80%;
}
/* line 78, ../sass/shimmy-grid.scss */
.grid .pull-one-sixth, .g .pull-one-sixth {
  position: relative;
  left: 16.66667%;
}
/* line 79, ../sass/shimmy-grid.scss */
.grid .pull-five-sixths, .g .pull-five-sixths {
  position: relative;
  left: 83.33333%;
}
/* line 81, ../sass/shimmy-grid.scss */
.grid:after, .g:after {
  content: "";
  display: table;
  clear: both;
}
